@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://use.typekit.net/bqp8wjl.css");

@import "reset";
@import "breakpoint-sass";
@import "breakpoint-slicer";
@import "../bootstrap/css/bootstrap.min.css";
@import "./var.scss";

$slicer-breakpoints: 0 400px 900px 1200px 1440px;

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) no-repeat;
}
.row {
  .col-lg-4 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
/* ----------- */
.card {
  width: 300px;
  background: #f5f6fa;
  transition: all 0.2s linear;

  &:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.42);
  }
  &:hover > .card-image img {
    transform: scale(1.1) translateY(-10px);
    opacity: 1;
  }

  .event-info {
    margin: 1rem 0;
    width: 100%;

    p:not(:last-child) {
      text-align: left;
      font-weight: bold;
      color: $muted-text;
      line-height: $md;

      span {
        font-weight: normal;
      }
    }
    p:last-child {
      margin-top: $sm;
      text-align: center;
      font-size: 3 * $sm;
      color: $color-dark;
      font-weight: bold;
    }
  }
  .card-body {
    h6 {
      font-size: $lg;
      margin: $sm;
      color: $color-dark;
    }
    a {
      display: block;
      // 4/5 there is a 0.8
      padding: ($md * 4/5) $md;

      text-transform: uppercase;

      font-size: $sm + 0.1;
      letter-spacing: 0.06rem;

      background: $color-dark;
      color: $color-light;

      transition: background 0.2s cubic-bezier(0.47, 0.25, 0.75, 0.8);

      &:hover {
        background: $color-darker;
      }
    }

    & > p {
      text-align: justify;
      line-height: $lg / 1.8;
    }

    address {
      margin: $md 0;
      font-size: $md * 4/5;
      color: $muted-text;
      font-style: italic;

      i {
        color: $muted-text;
      }
    }
  }
}
/* ----------- */

.card-image {
  width: 100%;
  height: $lg-size;
  overflow: hidden;
  object-position: bottom center;

  img {
    transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.15s linear;
    opacity: 0.8;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;

  .input-group {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      font-size: $sm-size / 4;
      color: $color-dark;
    }
    input {
      margin-top: $md;
      border: 1px solid darken($color-light, 10%);
      padding: $sm $md;
      color: $color-dark;
    }
  }
}
