/* COLORS */

$color-light: #f5f6fa;
$color-dark: #fa8231;
$color-darker: #e26f23;

$muted-text: #636e72;

/* SIZES */

$sm: 0.5rem;
$md: 1rem;
$lg: 2rem;

$sm-size: 5rem;
$md-size: 10rem;
$lg-size: 12rem;
